#Exclude files from commit !!!
README.md
 $ git status
    [...]
    # Untracked files:
    doc

.idea/
GxDEPG0266BN/4-feb 2300/BitmapExamples.h
GxDEPG0266BN/4-feb 2300/GxDEPG0266BN.cpp
GxDEPG0266BN/4-feb 2300/GxDEPG0266BN.h
GxDEPG0266BN/6-feb 2024/verschillen.txt
