#Exclude files from commit !!!
README.md
 $ git status
    [...]
    # Untracked files:
    doc

.idea/
Rtos5.83sd3B74.bin
Rtos5.83sd3BN.bin
Rtos5.83sd3BN266.bin
Bin_files_BN266/Rtos5.83sd2BN266.bin
Bin_files_B74/Rtos5.83sd4B74.bin
Bin_files_B74/Rtos5.83sd5B74.bin
Bin_files_B74/Rtos5.83sd6B74.bin
Bin_files_B74/Rtos5.83sd7B74.bin
Bin_files_BN213/Rtos5.83sd4BN.bin
GxDEPG0266BN/Rtos5.83sd4BN266.bin
