#Exclude files from commit !!!
README.md
 $ git status
    [...]
    # Untracked files:
    doc

.idea/
logos/f4_foils.png
logos/fmx-tr.png
logos/fmxracing_logo_b.png
logos/Phantom.png
logos/logoChallengerSails_web_2021-scaled.jpg
